/* Estilização geral das caixas de formulário */
.caixa-forms{
    background-color: #FFFFFF;
    border-radius: 28px;
    padding: 27px 19px;
}
.espacamento{
    padding: 57px;
}

/* ------------------------------------------------- */

.body-cadastro{
    background-image: url('../images/cadastro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;    
}

.body-home{
    background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;    
}

.body-listaaluno{
    background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;    
}

.body-atualizar{
    background-image: url('../images/cadastro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;    
}

.body-detalhe{
    background-image: url('../images/cadastro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;    
}

.body-admin{
    background-image: url('../images/cadastro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;    
}