{% extends 'base.html' %}

{% block title %}Detalhes do Aluno{% endblock %}
{% block body_class %}body-detalhe{% endblock %}

{% block content %}
<div class="container espacamento">
    <div class="row justify-content-center align-items-center" style="height: 85vh;">
        <div class="col-md-6 caixa-forms">
            <h2 class="text-center">{{ aluno.nome }}</h2>
            <p><strong>RA:</strong> {{ aluno.ra }}</p>
            <p><strong>Nome:</strong> {{ aluno.nome }}</p>
            <p><strong>Tempo de Estudo:</strong> {{ aluno.tempoestudo }}</p>
            <p><strong>Renda Familiar:</strong> {{ aluno.rendafamiliar }}</p>
            <div class="text-center">
                <a href="{{ url_for('index') }}" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
